In [1]:
import pandas as pd
import time
from sqlalchemy import create_engine

In [2]:
df=pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)

In [3]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [11]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [7]:
while True:
    try:
        start=time.time()
        df_it=next(df)
        df_it.tpep_pickup_datetime = pd.to_datetime(df_it.tpep_pickup_datetime)
        df_it.tpep_dropoff_datetime = pd.to_datetime(df_it.tpep_dropoff_datetime)
        df_it.to_sql(name = 'yellow_taxi_data',con=engine,if_exists='append')
        finish=time.time()
        print('time to proceed:{.3f} sec',(finish-start))
    except StopIteration: 
        print('StopIteration')
        break

time to proceed:{.3f} sec 27.338579416275024
time to proceed:{.3f} sec 27.629368782043457
time to proceed:{.3f} sec 28.30915379524231
time to proceed:{.3f} sec 26.308898448944092
time to proceed:{.3f} sec 26.61126685142517
time to proceed:{.3f} sec 27.376224756240845
time to proceed:{.3f} sec 26.825024843215942
time to proceed:{.3f} sec 26.328848123550415
time to proceed:{.3f} sec 26.196618795394897
time to proceed:{.3f} sec 26.691890716552734
time to proceed:{.3f} sec 26.147706270217896
time to proceed:{.3f} sec 27.279929637908936

/home/vsvld/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

time to proceed:{.3f} sec 26.9421546459198
time to proceed:{.3f} sec 17.546152353286743
StopIteration

In [5]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-02-13 17:04:44--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.110.254
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.110.254|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    in 0s

2022-02-13 17:04:45 (38,9 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [7]:
tz = pd.read_csv('taxi+_zone_lookup.csv')

In [6]:
!ls -l

total 64
-rw-rw-r--  1 vsvld vsvld 14063 лют 13 17:03 data_ingest.ipynb
-rw-rw-r--  1 vsvld vsvld  1924 лют 13 00:48 data_ingest.py
-rw-rw-r--  1 vsvld vsvld   473 лют 13 14:47 docker-compose.yml
-rw-rw-r--  1 vsvld vsvld   175 лют 13 13:32 Dockerfile
-rw-r--r--  1 vsvld vsvld  4651 лют 10 15:08 dsd
drwx------ 19 sbt   vsvld  4096 лют 13 14:47 ny_taxi_postgres_data
-rw-rw-r--  1 vsvld vsvld   343 лют 12 23:03 pipeline.py
-rw-rw-r--  1 vsvld vsvld  2375 лют 13 14:00 README.md
-rw-rw-r--  1 vsvld vsvld 12322 сер 17  2016 taxi+_zone_lookup.csv

In [9]:
tz.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
tz.to_sql(name = 'taxi_zone',con=engine,if_exists='replace')